{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">YOUR CONTACTS</h1><br/>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for person in people %}
            <tr>
                <td><a href="{{ path('person_show', { 'id': person.id }) }}">{{ person.id }}</a></td>
                <td>{{ person.name }}</td>
                <td>{{ person.surname }}</td>
                <td>{{ person.description }}</td>
                <td>
                    <a class="btn btn-default btn-sm" href="{{ path('person_show', { 'id': person.id }) }}">show</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-default" href="{{ path('person_new') }}">Create a new person</a>

{% endblock %}
